[submodule "madeso"]
	path = madeso
	url = https://github.com/madeso/spelsylt2018
[submodule "p1xelHer0"]
	path = p1xelHer0
	url = https://github.com/p1xelHer0/love2d-platformer
[submodule "littleandi"]
	path = littleandi
	url = https://github.com/LittleAndi/spelsylt-2018
[submodule "XeroXer"]
	path = XeroXer
	url = https://github.com/XeroXer/Love2d-Kodsnacks-Game-Jam
